@font-face {
    font-family: 'vazir';
    src: url('../fonts/vazir.eot') format('eot');
    src: url('../fonts/vazir.ttf') format('truetype'),
        url('../fonts/vazir.woff') format('woff'),
        url('../fonts/vazir.woff2') format('woff2');
}

/* html {
	--tg-color-scheme: var(--tg-color-scheme);
	--tg-theme-bg-color: #212121;
	--tg-theme-button-color: #8774e1;
	--tg-theme-button-text-color: #ffffff;
	--tg-theme-hint-color: #aaaaaa;
	--tg-theme-link-color: #8774e1;
	--tg-theme-secondary-bg-color: #181818;
	--tg-theme-text-color: #ffffff;
	--tg-theme-header-bg-color: #212121;
	--tg-theme-accent-text-color: #8774e1;
	--tg-theme-section-bg-color: #212121;
	--tg-theme-section-header-text-color: #8774e1;
	--tg-theme-subtitle-text-color: #aaaaaa;
	--tg-theme-destructive-text-color: #ff595a;
} */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    direction: rtl;
    font-family: "vazir" !important;
    --bg-color: var(--tg-theme-bg-color, #fff);
    background: transparent linear-gradient(180deg, var(--bg-color) 0%, var(--bg-color) 100%) no-repeat;
    color: var(--tg-theme-text-color, #222);
    font-size: 14px;
    margin: 0;
    padding: 0;
    color-scheme: var(--tg-color-scheme);
  }

body.gray {
    background-color: var(--tg-theme-secondary-bg-color, #efefef);
}

section {
    background-color: var(--bg-color, #ffffff);
}

a {
    color: var(--tg-theme-link-color, #2678b6);
}

.btnPrimary {
    border: none;
    color: var(--tg-theme-button-text-color, #fff);
    background-color: var(--tg-theme-button-color, #50a8eb);
}

svg {
    font-size: 17px;
}



/* --------------------------------------------- */
/* ---------------Select currency--------------- */
/* --------------------------------------------- */

#selectCurrency .form-group #currency {
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    font-size: 15px;
    color: var(--tg-theme-text-color, #222222);
    background-color: var(--tg-theme-bg-color, #ffffff);
    border: 3px solid var(--tg-theme-link-color, #000);
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    animation: heartbeat 2s;
    -webkit-animation: heartbeat 2s;
}

/* #selectCurrency .form-group #currency:focus{
    color: #000;
} */

#selectCurrency label{
    display: flex;
    align-items: center;
}

#selectCurrency label svg{
    width: 15px;
    height: 15px;
    padding: 5px;
    background-color: red;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-left: 7px;
}


/* --------------------------------------------- */
/* ----------------payment method--------------- */
/* --------------------------------------------- */

/* #paymentMethod .form-group .radio-group .custom-control:hover{
    background-color: #f5f5f5 !important;
} */

#paymentMethod ul li {
    animation: heartbeat 2s;
    -webkit-animation: heartbeat 2s;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

#paymentMethod ul li .custom-control {
    cursor: pointer;
}

#paymentMethod .form-group .radio-group .custom-control {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#paymentMethod .form-group .radio-group .custom-control {
    color: var(--tg-theme-text-color) !important;
    background-color: var(--tg-theme-bg-color) !important;
}

#paymentMethod .form-group .radio-group .active .custom-control {
    /* background-color: #50a8eb !important; */
    background-color: var(--tg-theme-link-color, #50a8eb) !important;
}

#paymentMethod .form-group .radio-group .active{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

#paymentMethod .form-group .radio-group .active p {
    color: #fff !important;
}

#paymentMethod .form-group .radio-group .active svg {
    color: #fff !important;
}

#paymentMethod label{
    display: flex;
    align-items: center;
}

#paymentMethod label svg{
    width: 15px;
    height: 15px;
    padding: 5px;
    background-color: rgb(0, 255, 242);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-left: 7px;
}


/* --------------------------------------------- */
/* ------------------Account Type--------------- */
/* --------------------------------------------- */

#accountType ul li {
    animation: heartbeat 2s;
    -webkit-animation: heartbeat 2s;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

#accountType ul li .custom-control {
    cursor: pointer;
}

#accountType .form-group .radio-group .custom-control {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#accountType .form-group .radio-group .custom-control {
    color: var(--tg-theme-text-color) !important;
    background-color: var(--tg-theme-bg-color) !important;
}

#accountType .form-group .radio-group .active .custom-control {
    /* background-color: #50a8eb !important; */
    background-color: var(--tg-theme-link-color, #50a8eb) !important;
}

#accountType .form-group .radio-group .active{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

#accountType .form-group .radio-group .active p {
    color: #fff !important;
}

#accountType .form-group .radio-group .active svg {
    color: #fff !important;
}

#accountType label{
    display: flex;
    align-items: center;
}

#accountType label svg{
    width: 15px;
    height: 15px;
    padding: 5px;
    background-color: yellow;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-left: 7px;
}

/* --------------------------------------------- */
/* ---------------Amount Section---------------- */
/* --------------------------------------------- */

#amountSection .amount-section input[type=text] {
    font-size: 15px;
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    color: var(--tg-theme-text-color, #222222);
    background-color: var(--tg-theme-bg-color, #ffffff);
    border: 3px solid var(--tg-theme-link-color, #000);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    animation: heartbeat 2s;
    -webkit-animation: heartbeat 2s;
}

#amountSection .amount-section input[type="text"]::-webkit-input-placeholder {
    color: var(--tg-theme-hint-color, #ccc);
}

#amountSection .amount-section input[type="text"]::-moz-placeholder {
    color: var(--tg-theme-hint-color, #ccc);
}

#amountSection .amount-section input[type="text"]:-ms-input-placeholder {
    color: var(--tg-theme-hint-color, #ccc);
}

/* #amountSection .amount-section input#amount:focus{
    color: #000;
} */

#amountSection .amount-section .amount-container .amount-value {
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
}

#amountSection .amount-section .amount-container #decrease {
    background-color: var(--tg-theme-link-color, #50a8eb);
    border: 2px solid rgba(255, 255, 255, 1);
    width: 35px;
    height: 35px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

#amountSection .amount-section .amount-container #decrease:hover {
    background-color: rgb(33, 178, 163);
}

#amountSection .amount-section .amount-container #decrease svg {
    margin: 0;
    color: rgba(255, 255, 255, 1);
}

#amountSection .amount-section .amount-container #increase {
    background-color: var(--tg-theme-link-color, #50a8eb);
    border: 2px solid rgba(255, 255, 255, 1);
    width: 35px;
    height: 35px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

#amountSection .amount-section .amount-container #increase:hover {
    background-color: rgb(33, 178, 163);
}

#amountSection .amount-section .amount-container #increase svg {
    margin: 0;
    color: rgba(255, 255, 255, 1);
}

#amountSection .amount-section .amount-container #value{
    color: var(--tg-theme-text-color, #222);
}

#amountSection label{
    display: flex;
    align-items: center;
}

#amountSection label svg{
    width: 15px;
    height: 15px;
    padding: 5px;
    background-color: red;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-left: 7px;
}


/* --------------------------------------------- */
/* ---------------Submit Button----------------- */
/* --------------------------------------------- */

#submitBtn {
    width: 100%;
}

#submitBtn button {
    padding: 5px 25px;
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    background-color: #50a8eb;
    border: 3px solid #50a8eb;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#submitBtn button:hover {
    color: #50a8eb;
    background-color: rgba(255, 255, 255, 1);
    border: 3px solid #50a8eb;
}

label {
    color: var(--tg-theme-text-color, #000);
    animation: text-focus-in 0.5s;
    -webkit-animation: text-focus-in 0.5s;
}

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */

@-webkit-keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}


/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */

@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}